<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.acceleo.engine.dynamic.templates">
      <templates
            path="org/eclipse/acceleo/module/dynamic_override_entity/main">
      </templates>
      <generator
            generatorID="org.eclipse.acceleo.module.dynamic_override_main">
      </generator>
   </extension>
</plugin>
